{
  "tea-enabled": false,
  "max-post-similarity-enabled": false,
  "model-name": {
    "realtime": "model_realtime191007",
    "batch": "model_batch191007",
    "train-stats": {
      "realtime": "stat_realtime191007.json",
      "batch": "stat_batch191007.json"
    }
  },
  "enable-cross-feature": false
}