.scorebar-container{
    margin: 10px;
    height: 32px;
}

.scorebar-indicator{
    float: left;
    height: 32px;
    background-color: #37b5ff;
}

.scorebar-text{
    float: left;
    height: 32px;
    margin-left:20px;
    line-height: 32px;
    font-size: 20px;
    font-family: 'Raleway';
}

.scorebar-label{
    width: 14em;
    text-align: center;
}
